<!DOCTYPE html>
 <html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Custom style sheet -->
        <link rel="stylesheet" href="../styles/gallery.css" />

        <link rel="digital darkroom icon" href="../img/logo/logo-sm.png">

        <title>Gallery</title>               

    </head>
    <body>
        <!-- Page Content -->
         <div class="container">
                <!-- top navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout">Log Out</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/create">Create</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">About</a></li>
                                    <li>
                                        <a data-toggle="modal" data-target="#signUpModal">Sign Up</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- top navbar end --> 

            <!-- modal sign-UP form -->
            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="Sign up modal">
                <div class="modal-dialog" role="sign up">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create your account.</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Login form -->
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="post" action="/api/users">
                                            <div class="form-group">
                                                <input type="text" name="user[name]" class="form-control" id="name" placeholder="Name" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="user[email]" class="form-control" id="email" placeholder="Email" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="user[password]" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create your account" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Digital Darkroom
                    <small>Your gallery of custom made photographs.</small>
                    <a class="pull-right create" href="/create">Create a new image</a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Photogallery here -->
        <div class="row" id="photo-gallery">
        </div>

        <div id="photo-modal" class="modal fade bs-example-modal-lg" data-photo-id="">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 image">
                                    <img class="img-responsive"/>
                                </div>
                                <div class="col-md-4 side">
                                    <form id="update-photo">
                                        <input class="author" name="author" type="text" value=""></input>
                                        <hr>
                                        <textarea class="text textarea" name="text" type="text" value=""></textarea>
                                        <!-- edit post (pencil icon) to toggle form -->
                                        <a class="edit-pencil" role="button">
                                            <span class="glyphicon glyphicon-pencil edit pull-right"></span>
                                        </a> 
                                    </form>
                                    <div class="social">
                                        <hr>
                                      <p>Share this:</p>
                                      <a href="https://www.facebook.com/sharer/sharer.php?u=example.org"><img src="../img/social/facebook.png"></img></a> 
                                      <a href="http://twitter.com/share"><img src="../img/social/twitter.png"></img></a> 
                                      <a href="http://instagram.com/share"><img src="../img/social/instagram.png"></img></a>  
                                    </div>                                  
                                </div>                   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer hidden">
                        <button type="button" class="btn btn-danger delete-photo" data-dismiss="modal">DELETE</button>
                        <button type="submit" form="update-photo" class="btn btn-primary">UPDATE</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>

        <hr>

    </div>
    <!-- /.container -->



    <!--jQuery-->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--Underscore-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Custom script sheet -->
    <script src="../scripts/gallery.js"></script>

    <!-- Photo Gallery Underscore Template-->
    <script type="text/template" id="photo-template">
    <!-- row 1-->
    <div class="col-md-4 photo" data-id="<%= _id %>">
        <a href="#" data-toggle="modal" data-target="#photo-modal">
            <img class="img-responsive" src="/photos/<%= _id %>" />
        </a>
    </div>
    </script>

    </body>
</html>